* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  color: hsl(243, 87%, 12%);
  margin: 3vh 0 0;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 3rem;
}
a {
  text-decoration: none;
  color: hsl(243, 87%, 12%);
}
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  margin: 0 4vw 4rem;
}
header ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
header ul li {
  margin-left: 3vw;
}
/*ENDING OF HEADER*/
/* FIRST ARTICLE*/
.art-wrap h1 {
  margin-bottom: 1rem;
}
.art-wrap p {
  margin-bottom: 0.8rem;
  margin-right: 5rem;
}
.art-wrap input {
  border-radius: 4px;
  border-color: hsl(238, 22%, 44%);
  height: 2.5rem;
  width: 17rem;
  padding-left: 1rem;
  margin-right: 1rem;
}
.art-wrap input:invalid {
  border-color: #e74c4c;
}
.art-wrap button {
  color: white;
  background-color: hsl(224, 93%, 58%);
  border-radius: 4px;
  border: none;
  min-height: 2.5rem;
  min-width: 10rem;
  box-shadow: 3px 3px 5px hsl(0, 0%, 75%);
}
button:hover {
  cursor: pointer;
  background-color: hsla(224, 93%, 58%, 0.89);
}
.art1 {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 0 4vw 15vh;
}
.art1 img {
  min-width: 360px;
  max-width: 600px;
}
.art-wrap {
  max-width: 600px;
}
/* ENDING OF FIRST ARTICLE */
.curve-mobile {
  visibility: hidden;
  float: left;
  width: 0px;
}
.curve-desktop {
  margin-bottom: -7px;
  height: 114px;
  width: 100%;
}
/* ARTICLE 2 */
.art2 {
  display: flex;
  background-color: hsl(240, 75%, 98%);
  padding: 5vh 4vw 10vh;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.illustration-2 {
  min-width: 360px;
  max-width: 600px;
}

.art-wrappara {
  margin-right: 4rem;
}
.art2 a {
  color: hsl(167, 34%, 50%);
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 5px;
}
.art2 a:hover {
  color: hsla(167, 34%, 50%, 0.555);
}
.art2 h1 {
  margin-bottom: 2rem;
}
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0px hsl(0, 0%, 75%);
  padding: 1rem 1rem 0 1.5rem;
  width: 300px;
  margin-top: 3.5rem;
}
.card p {
  margin-right: 0;
  line-height: 1.5rem;
  font-size: 14px;
}
.author {
  display: flex;
}
.author h2 {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.author p {
  font-size: 10px;
}
.author img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 10px;
}

/* ENDING OF ARTICLE 2 */
/* SIDE CONTENT */
aside {
  background-color: hsl(238, 22%, 44%);
  color: white;
  padding: 5rem 4vw 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
aside input {
  width: 480px;
  height: 50px;
  padding-left: 1.5rem;
  border-radius: 3px;
  border: 0;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.445);
}
.sidedata {
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
}
aside input:focus {
  outline: none;
}
aside button {
  color: white;
  background-color: hsl(224, 93%, 58%);
  border-radius: 4px;
  border: none;
  min-height: 2.5rem;
  min-width: 10rem;
  max-width: 200px;
  margin-top: 1rem;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.445);
}
.sidetext {
  max-width: 35vw;
}
.sidetext h1 {
  margin-bottom: 1rem;
}
/* END OF SIDE CONTENT */
/* FOOTER */
footer {
  background-color: hsl(243, 87%, 12%);
  color: white;
  padding: 8vh 4vw 3vh;
}
footer ul {
  list-style-type: none;
}
footer li {
  margin-bottom: 1rem;
}
.lists {
  display: flex;
  justify-content: space-between;
}
.logolist {
  display: flex;
}
.logo {
  width: 16px;
}
.logolist p {
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  height: 17px;
  width: 17px;
  margin-left: 1rem;
}
.email-phone-li img {
  width: 16px;
  margin-right: 1rem;
}
.flogo {
  filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(7482%)
    hue-rotate(307deg) brightness(116%) contrast(106%);
  margin-bottom: 1.5rem;
}
footer a {
  color: white;
}
footer a:hover {
  color: hsl(238, 22%, 44%);
}
.logolist p:hover {
  border: 1px solid hsl(238, 22%, 44%);
  filter: invert(67%) sepia(14%) saturate(512%) hue-rotate(200deg)
    brightness(96%) contrast(84%);
}
/* END OF FOOTER */
/* PHONE */
@media (max-device-width: 1000px) {
  header img {
    width: 30vw;
  }
  .art1 {
    margin: 0 4vw 0;
  }

  .art-wrap1 {
    text-align: center;
  }
  .art-wrap h1 {
    font-size: 32px;
  }
  .art-wrap input {
    width: 90%;
    margin: 0 0 1rem;
  }
  .art-wrap button {
    width: 96%;
  }
  .art-wrap p {
    margin-right: 0;
  }

  .curve-desktop {
    visibility: hidden;
    float: right;
    width: 1rem;
  }
  .curve-mobile {
    float: none;
    visibility: visible;
    width: 100%;
    height: 53px;
    margin-bottom: -7px;
  }
  .illustration-2 {
    margin-bottom: 5vh;
  }
  .art2 h1 {
    font-size: 20px;
    text-align: center;
  }
  .link {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  aside {
    flex-wrap: wrap;
    padding: 1.8rem;
  }
  .sidetext {
    max-width: none;
    text-align: center;
    margin-bottom: 5vh;
  }
  .sidetext h1 {
    font-size: 20px;
  }
  .sidedata {
    margin-right: 0;
    width: 100%;
  }
  .sidedata input {
    height: 2.5rem;
    width: 70vw;
  }
  .sidedata button {
    max-width: none;
    width: 77vw;
  }
  .sidedata {
    align-items: center;
  }
  .lists {
    display: block;
  }
  .lists ul {
    margin-bottom: 5vh;
  }
  .flogo {
    margin-bottom: 2.5rem;
    margin-top: 2rem;
  }
  .logolist {
    justify-content: center;
  }
  footer {
    padding: 2rem;
  }
}
